<h1>About page</h1>

<p>
  This website was develeoped by Sunny Nguyen-Bui with help from the Jungle template from Lighthouse Labs<br>
  All sales on the site are final. No refunds. You should have checked harder if you would have liked the product<br>
  Cursed items only. <br>
  Glory to mankind.<br>
</p>